* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    flex-direction: column;
}

header {

    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 100%;
    background-color: #ffffff;
}

img {
    height: 75%;
    width: 30%;
    margin-top: 10px;
}

.navbar {
    display: flex;
    justify-content: end;
    width: 70%;
    height: 100%;
}

.ul_header {
    height: 100%;
    width: 80%;
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    justify-content: end;
}

.li_header {
    padding: 0 0 0 20px;
}

.li_header a {
    color: black;
    text-decoration: none;

    &:hover {
        color: rgb(239, 86, 86);
    }
}

main {
    display: flex;

}

/*primer tercio del main*/

.tercioSlogan {
    width: 15%;
    height: 100%;
    background-color: rgb(11, 11, 59);
}

.textoTercioSlogan {
    display: flex;
    justify-content: center;
    color: rgb(213, 214, 223);
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;

}

.ul_main {
    list-style-type: none;
    display: block;
}

.li_main {
    display: flex;
    margin-bottom: 10px;
    color: rgb(213, 214, 223);
    margin-top: 0px;
    padding-top: 30px;
    font-size: 0.8rem;
}

/*segundo tercio del main*/

.textoTercioProductos {
    display: flex;
    justify-content: center;
    color: rgb(213, 214, 223);
    font-size: 1.5rem;
    font-weight: lighter;
}

.tercioProductos {
    width: 50%;
    height: 100%;
    background-color: white;
}

.formularios {
    text-align: center;
}

.btnEnvioDatos {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: rgb(236, 231, 231);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}

.btnEnvioDatos:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
   }

.btnEnvioDatos:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }

.campos {
    color: rgb(11, 11, 59);
    padding: 5px;
}

.tituloVenta {
    color: rgb(11, 11, 59);
    font-size: 1.5rem;
    text-align: center;
}

.contenedorProductos {
    display: flex;
    padding: 10px;
    text-align: center
}

.imagenProducto {
    height: 150px;
    width: 150px;
    padding: 15px;
}

.nombreProducto {
    text-align: center;
    font-size: 1rem;
}

.tercioCarrito {
    width: 35%;
    height: 100%;
    background-color: beige;
}

.tercioCarrito2 {
    width: 100%;
    height: 100%;
    margin: 5px;
    background-color: white;
}

#iconoCarrito {
    vertical-align: middle;
}

#tituloCarrito {
    display: inline-block;
    vertical-align: middle;
    margin-left: 100px;
}

.eliminarProducto {
    background-color: red;
    color: white;
    padding: 2px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/*acá utilicé uiverse.io para modificar el estilo del botón*/
.btnEdit {
    width: 130px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    border: none;
    color: white;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
}

.svgIcon {
    width: 16px;
}

.svgIcon path {
    fill: white;
}

.btnEdit::before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
}

.btnEdit:hover::before {
    transition-duration: .3s;
    transform: translate(100%, -50%);
    border-radius: 0;
}

.btnEdit:active {
    transform: translate(5px, 5px);
    transition-duration: .3s;
}

footer {

    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}