* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #E6DADA;  
    display: flex;
    flex-direction: column;
}

header {
    height: 15vh;
    width: 100%;
    flex-direction: column;
    background-color: rgb(220, 220, 220);
}

header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: end;
    margin-top: 30px;
}

header ul li {
    padding: 20px;
}

main {
    height: 65vh;
    width: 100%;
    background-color: #93C3D8;
}

main h1, main p {
    display: flex;
    justify-content: start;
    margin-left: 100px;    
    
}

figure {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 100%; 
}

figure img {
    max-width: 100%;
    margin-bottom: 70px;
}

footer {
    height: 20vh;
    width: 100%;
    background-color: rgb(198, 206, 198);
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    padding: 10px;

}